---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ site.tagline }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="intro">
			<div class="container">
				<img src="/assets/ucsd_grad_geisel_cropped.jpg" width="15%" height="auto" alt="ucsd_grad_geisel_cropped.jpg" loading="eager" onerror="this.onerror=null; $('.responsive-img-srcset').remove();"
				style="position: absolute; right: 20%;">
				<h2 style="font-size: 1.5rem;">About me.</h2>
				<!-- <p class="semibold"><br><br><br>About me!</p> -->
				<p>{{ site.description }}</p>
			</div>
		</section>
		<section class="projects">
			<div class="container">
				<!-- <h2>Projects I have worked on.</h2> -->
				<h1>My Projects<br><br></h1>
				<ul class="projects-list">
					{% for item in site.categories.projects reversed %}
						<li>
							<a href="{{ item.url | prepend: site.baseurl }}">
								<div class="img-wrapper">
									<img src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
								</div>
								<span class="h2">{{ item.project.type }}</span>
								<h3>{{ item.project.title }}</h3>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>
</html>